<section class="searchandsort">
  <form class="searchandsort-container container">
    <label class="searchandsort-label comics"
      >Comics
      <button class="search-svg-comics-button">
        <svg class="search-svg-comics" width="15" height="15">
        <use
          class="search-icon"
          href="./img/sprite.svg#icon-search"
          aria-label="Search Icon"
        >
      </use>
      </svg>
    </button>
      <input
        id="comics"
        class="searchandsort-input"
        type="text"
        placeholder="Enter text"
      />
    </label>
    <label class="searchandsort-label name"
      >Name Starts With
      <button class="search-svg-name-button"><svg class="search-svg-name" width="15" height="15">
        <use
          class="search-icon"
          href="./img/sprite.svg#icon-search"
          aria-label="Search Icon"
        ></use>
      </svg></button>
      <input
        id="name-input"
        class="searchandsort-input"
        type="text"
        placeholder="Enter text"
      />
    </label>
    <label class="searchandsort-label order"
      >Order By
      <svg class="select-svg" width="12" height="12">
      <use
          class="select-icon"
          href="./img/sprite.svg#icon-shevron"
          aria-label="Shevron Down Icon"
        ></use>
      </svg>
      <select id="select" class="searchandsort-input" type="select">
        <option value="name">Name</option>
        <option value="modified">Modified</option>
      </select>
    </label>
    <label class="searchandsort-label date"
      >Date <input id="date" class="searchandsort-input" type="text" />
      <svg class="date-svg" width="12" height="12">
        <use
            class="select-icon"
            href="./img/sprite.svg#icon-shevron"
            aria-label="Shevron Down Icon"
          ></use>
        </svg>
    </label>
  </form>

