<div class="comics-modal-window">
  <div class="modal-comics-container container">
    <button type="button" class="modal-comics-close-btn" modal-close>
      <svg class="comics-modal-close-icon" width="12" height="12">
        <use href="./img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="modal-comics-title-image-wrapper"></div>
    <div class="modal-comics-info-wrapper">
      <div class="modal-comics-general-info"></div>
      <h2>Creator</h2>
      <ul class="comics-modal-creators-list"></ul>
      <h2>Characters</h2>
      <ul class="comics-modal-characters-list"></ul>
    </div>
  </div>
</div>
