<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/modal_comics.css" />
  </head>
  <body>
    <div class="comics-modal-window">
      <button type="button" modal-close>
        Close
        <svg class="close-icon" width="10" height="10">
          <use href=""></use>
        </svg>
      </button>

      <div class="modal-comics-general-info"></div>

      <h2>Creator</h2>
      <ul class="comics-modal-creators-list"></ul>
      <h2>Characters</h2>
      <ul class="comics-modal-characters-list"></ul>
    </div>
  </body>
</html>
