<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-logo">
        <a href="../index.html"
          ><img src="../img/logo-mobile.png" srcset="../img/logo-mobile.png 1x, ../img/logo-mobile2x.png 2x" alt="logo" class="img-footer"
        /></a>
        <a href="../characters.html" class="text-footer">Characters</a>
      </div>
      <ul class="footer-social-list">
        <li>
          <a
            href=""
            class="social-list-link-footer"
            aria-label="linl-for-instsgram"
            rel="noopener noreferer"
            target="_blank"
          >
            <svg class="social-list-icon-footer" width="14" height="14">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href=""
            class="social-list-link-footer"
            aria-label="linl-for-instsgram"
            rel="noopener noreferer"
            target="_blank"
          >
            <svg class="social-list-icon-footer" width="14" height="14">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href=""
            class="social-list-link-footer"
            aria-label="linl-for-instsgram"
            rel="noopener noreferer"
            target="_blank"
          >
            <svg class="social-list-icon-footer" width="14" height="14">
              <use href="../img/sprite.svg#icon-twiter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom-text">Privacy Policy Public Offering Agreement</p>
  </div>
</footer>
