<header class="header">
<div class="container">
    <a href="./index.html" class="logo">
        <picture>
            <source srcset="../img/logo-mobile.png 1x, ../img/logo-mobile2x.png " media="(max-width: 767px)">
            <source srcset="../img/logo.png 1x, ../img/logo2x.png" media="(min-width: 768px)">
            <img src="../img/logo-mobile.png" alt="logo"> 
        </picture>
    </a>
    <form class="header_search">
        <svg class="search-header-icon"><use href="../img/sprite.svg#icon-search"></svg>
        <input type="text" placeholder="search">
    </form>
</div>
</header>
