<header class="header">
<div class="container">
    <a href="./index.html" class="logo">
        <svg class="header-logo-svg"><use href="./img/sprite.svg#icon-logo"></use></svg>
    </a>
        <form action="./characters.html" class="header_search">
            <svg class="search-header-icon" id="header-search"><use href="./img/sprite.svg#icon-search"></use></svg>
            <input name="myCountry" id="myInput" type="text" placeholder="search" class="search-header">
            <ul class="autocomplete-list">
            </ul>
        </form>

</div>
</header>
