<section class="hero-home">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="part-1">
            <p class="text-home-hero">Web-based platform</p>
            <h1 class="title-home-hero">Marvelous Adventures</h1>
            <p class="p-home-hero">
              is a web-based platform that provides an immersive experience for
              users to explore and discover a vast collection of Marvel
              characters and comics. Start exploring the Marvelous Adventures
              now by visiting our Characters and Comics sections and discover
              your new favorites today.
            </p>
            <a href="./characters.html" class="button-home-hero">All Characters</a>
          </div>

          <div class="part-2">
            <picture>
              <source srcset="./img/deskt/black-panther-modal-deskt.jpg 1x, ./img/deskt/black-panther-modal-2x@deskt.jpg 2x" media="(min-width:1440px)">
              <source srcset="./img/tab/black-panther-modal-tab.jpg 1x, ./img/deskt/black-panther-modal-2x@tab.jpg 2x" media="(min-width:768px)">
              <source srcset="./img/mob/black-panther-modal-mob.jpg 1x, ./img/mob/black-panther-modal-2x@mob.jpg 2x">
              <img
                src="./img/deskt/black-panther-modal-deskt.jpg"
                alt="Black Panther image 1"
                class="spider-man-modal"
              />
            </picture>
            <div class="part-2-1">
              <picture>
                <source srcset="./img/deskt/black-panther-deskt.jpg 1x, ./img/deskt/black-panther-2x@deskt.jpg 2x" media="(min-width:1440px)">
                <source srcset="./img/tab/black-panther-tab.jpg 1x, ./img/tab/black-panther-tab-2x@tab.jpg 2x" media="(min-width:768px)">
                <source srcset="./img/mob/black-panther-mob.jpg 1x, ./img/mob/black-panther-2x@mob.jpg 2x">
                <img
                  src="./img/deskt/black-panther-deskt.jpg"
                  alt="Black Panther image 2"
                  class="spider-man"
                />
              </picture>

              <div class="info-home-hero-character">
                <p class="Character-home-hero">Characters</p>
                <p class="info-home-hero">
                  With amazing spider-like abilities, teenage science whiz Peter
                  Parker fights crime and dreams of becoming an Avenger as
                  Spider-Man.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="part-1">
            <p class="text-home-hero">Web-based platform</p>
            <h1 class="title-home-hero">Marvelous Adventures</h1>
            <p class="p-home-hero">
              is a web-based platform that provides an immersive experience for
              users to explore and discover a vast collection of Marvel
              characters and comics. Start exploring the Marvelous Adventures
              now by visiting our Characters and Comics sections and discover
              your new favorites today.
            </p>
            <a href="./characters.html" class="button-home-hero green_but">All Characters</a>
          </div>

          <div class="part-2">
            <img
              src="./img/deskt/halk-modal-deskt.jpg"
              alt=""
              class="spider-man-modal"
            />
            <div class="part-2-1">
              <img src="./img/deskt/halk-deskt.jpg" class="spider-man" />

              <div class="info-home-hero-character">
                <p class="Character-home-hero">Characters</p>
                <p class="info-home-hero">
                  With amazing spider-like abilities, teenage science whiz Peter
                  Parker fights crime and dreams of becoming an Avenger as
                  Spider-Man.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="part-1">
            <p class="text-home-hero">Web-based platform</p>
            <h1 class="title-home-hero">Marvelous Adventures</h1>
            <p class="p-home-hero">
              is a web-based platform that provides an immersive experience for
              users to explore and discover a vast collection of Marvel
              characters and comics. Start exploring the Marvelous Adventures
              now by visiting our Characters and Comics sections and discover
              your new favorites today.
            </p>
            <a href="./characters.html" class="button-home-hero red_but">All Characters</a>
          </div>

          <div class="part-2">
            <img
              src="./img/deskt/spider-man-modal-deskt.jpg"
              alt=""
              class="spider-man-modal"
            />
            <div class="part-2-1">
              <img src="./img/deskt/spider-man-deskt.jpg" class="spider-man" />

              <div class="info-home-hero-character">
                <p class="Character-home-hero">Characters</p>
                <p class="info-home-hero">
                  With amazing spider-like abilities, teenage science whiz Peter
                  Parker fights crime and dreams of becoming an Avenger as
                  Spider-Man.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
  <!-- Demo styles -->
</section>
