<section class="hero-home">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="part-1">
            <p class="text-home-hero">Web-based platform</p>
            <h1 class="title-home-hero">Marvelous Adventures</h1>
            <p class="p-home-hero">
              is a web-based platform that provides an immersive experience for
              users to explore and discover a vast collection of Marvel
              characters and comics. Start exploring the Marvelous Adventures
              now by visiting our Characters and Comics sections and discover
              your new favorites today.
            </p>
            <a href="./characters.html" class="button-home-hero blue-but"
              >All Characters</a
            >
          </div>

          <div class="part-2">
            <picture class="animate__animated animate__fadeInDown animate__slower">
                
              <source
                media="(min-width:1440px)"
                srcset="
                  ./img/deskt/black-panther-modal-deskt.jpg    1x,
                  ./img/deskt/black-panther-modal-2x@deskt.jpg 2x
                "
              
              />
              <source
              media="(min-width:768px)"
                srcset="
                  ./img/tab/black-panther-modal-tab.jpg    1x,
                  ./img/tab/black-panther-modal-2x@tab.jpg 2x
                "
                
              />
              <source
                srcset="
                  ./img/mob/black-panther-modal-mob.jpg    1x,
                  ./img/mob/black-panther-modal-2x@mob.jpg 2x
                "
              />

              <img
                src="./img/deskt/black-panther-modal-deskt.jpg"
                alt="Black Panther image 1"
                class="spider-man-modal border-radius-part-1"
              />
            </picture>
            <div class="part-2-1 color-1 animate__animated animate__fadeInUp animate__slower">
              <picture class="photo-shadow-blue">
                <source
                  srcset="
                    ./img/deskt/black-panther-deskt.jpg    1x,
                    ./img/deskt/black-panther-2x@deskt.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./img/tab/black-panther-tab.jpg        1x,
                    ./img/tab/black-panther-tab-2x@tab.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mob/black-panther-mob.jpg    1x,
                    ./img/mob/black-panther-2x@mob.jpg 2x
                  "
                />
                <a href="./characters.html">
                  <img
                    src="./img/deskt/black-panther-deskt.jpg"
                    alt="Black Panther image 2"
                    class="spider-man border-radius-part-2"
                  />
                </a>
              </picture>
              <span class="info-home-hero-line"></span>
              <div class="info-home-hero-character">
                <p class="Character-home-hero">Characters</p>
                <p class="info-home-hero">
                  T’Challa is the king of the secretive and highly advanced
                  African nation of Wakanda - as well as the powerful warrior
                  known as the Black Panther.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="part-1">
            <p class="text-home-hero">Web-based platform</p>
            <h1 class="title-home-hero">Marvelous Adventures</h1>
            <p class="p-home-hero">
              is a web-based platform that provides an immersive experience for
              users to explore and discover a vast collection of Marvel
              characters and comics. Start exploring the Marvelous Adventures
              now by visiting our Characters and Comics sections and discover
              your new favorites today.
            </p>
            <a href="./characters.html" class="button-home-hero green_but"
              >All Characters</a
            >
          </div>

          <div class="part-2">
            <picture>
                
              <source
                media="(min-width:1440px)"
                srcset="
                  ./img/deskt/halk-modal-deskt.jpg    1x,
                  ./img/deskt/halk-modal-2x@deskt.jpg 2x
                "
              
              />
              <source
              media="(min-width:768px)"
                srcset="
                  ./img/tab/halk-modal-tab.jpg    1x,
                  ./img/tab/halk-modal-2x@tab.jpg 2x
                "
                
              />
              <source
                srcset="
                  ./img/mob/halk-modal-mob.jpg    1x,
                  ./img/mob/halk-modal-2x@mob.jpg 2x
                "
              />

              <img
                src="./img/deskt/halk-modal-deskt.jpg"
                alt="Hulk image 1"
                class="spider-man-modal border-radius-part-1"
              />
            </picture>
           
            <div class="part-2-1 color-2">
              <a href="./characters.html">
              <picture class="photo-shadow-blue">
                <source
                  srcset="
                    ./img/deskt/halk-deskt.jpg    1x,
                    ./img/deskt/halk-2x@deskt.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./img/tab/halk-tab.jpg        1x,
                    ./img/tab/halk-tab-2x@tab.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mob/halk-mob.jpg    1x,
                    ./img/mob/halk-2x@mob.jpg 2x
                  "
                />
                  <img
                    src="./img/deskt/halk-deskt.jpg"
                    alt="Hulk image 2"
                    class="spider-man border-radius-part-2"
                  />
                </picture>
              </a>
              <span class="info-home-hero-line"></span>
              <div class="info-home-hero-character">
                <p class="Character-home-hero">Characters</p>
                <p class="info-home-hero">
                  Exposed to heavy doses of gamma radiation, scientist Bruce
                  Banner transforms into the mean, green rage machine called the
                  Hulk.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="part-1">
            <p class="text-home-hero">Web-based platform</p>
            <h1 class="title-home-hero">Marvelous Adventures</h1>
            <p class="p-home-hero">
              is a web-based platform that provides an immersive experience for
              users to explore and discover a vast collection of Marvel
              characters and comics. Start exploring the Marvelous Adventures
              now by visiting our Characters and Comics sections and discover
              your new favorites today.
            </p>
            <a href="./characters.html" class="button-home-hero red_but"
              >All Characters</a
            >
          </div>

          <div class="part-2">
           <picture>
                
              <source
                media="(min-width:1440px)"
                srcset="
                  ./img/deskt/spider-man-modal-deskt.jpg    1x,
                  ./img/deskt/spider-man-modal-2x@deskt.jpg 2x
                "
              
              />
              <source
              media="(min-width:768px)"
                srcset="
                  ./img/tab/spider-man-modal-tab.jpg    1x,
                  ./img/tab/spider-man-modal-2x@tab.jpg 2x
                "
                
              />
              <source
                srcset="
                  ./img/mob/spider-man-modal-mob.jpg    1x,
                  ./img/mob/spider-man-modal-2x@mob.jpg 2x
                "
              />

              <img
                src="./img/deskt/spider-man-modal-deskt.jpg"
                alt="Spider Man image 1"
                class="spider-man-modal border-radius-part-1"
              />
            </picture>
            <div class="part-2-1 color-3">
              <a href="./characters.html">
              <picture class="photo-shadow-blue">
                <source
                  srcset="
                    ./img/deskt/spider-man-deskt.jpg    1x,
                    ./img/deskt/spider-man-2x@deskt.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./img/tab/spider-man-tab.jpg        1x,
                    ./img/tab/spider-man-tab-2x@tab.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mob/spider-man-mob.jpg    1x,
                    ./img/mob/spider-man-2x@mob.jpg 2x
                  "
                />
                  <img
                    src="./img/deskt/spider-man-deskt.jpg"
                    alt="Spider Man image 2"
                    class="spider-man border-radius-part-2"
                  />
                </a>
              </picture>
              <span class="info-home-hero-line"></span>
              <div class="info-home-hero-character">
                <p class="Character-home-hero">Characters</p>
                <p class="info-home-hero">
                  With amazing spider-like abilities, teenage science whiz Peter
                  Parker fights crime and dreams of becoming an Avenger as
                  Spider-Man.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
  <!-- Demo styles -->
</section>
