<section class="random-characters-section">
  <div class="container random-characters-container">
    <h1 class="random-characters-title">Random Characters</h1>

    <!-- _______________________________________________ -->
    <div class="random-characters-card">
      <div class="img-wrapper">
        <!-- random image -->
      </div>

      <ul class="random-characters-list">
        <!-- random liItem -->
      </ul>
    </div>
    <a href="./characters.html" class="random-characters-link">
      All Characters</a
    >
  </div>
</section>
