<section class="random-characters-section">
  <div class="container random-characters-container">
    <h1 class="random-characters-title">Random Characters</h1>

    <!-- _______________________________________________ -->
    <div class="random-characters-card">
      <div class="img-wrapper"></div>

      <ul class="random-characters-list">
        <!-- <li class="random-characters-item">
          <a href="#" class="random-item-link" onmouseover="changeImage('')">
            <h2 class="random-item-title">Ant-Man</h2>
            <p class="random-item-text">
              Thief turned hero Scott Lang uses size manipulation tech to
              infiltrate bases and intimidate bad guys.
            </p>
          </a>
        </li>
        <li class="random-characters-item">
          <a href="#" class="random-item-link" onmouseover="changeImage('')">
            <h2 class="random-item-title">The Wasp</h2>
            <p class="random-item-text">
              Hope Van Dyne, daughter of the brilliant and heroic Ant-Man (Hank
              Pym) and The Wasp (Janet van Dyne), helps trains her father’s
              successor Scott Lang and secure the destruction of the
              Yellowjacket technology.
            </p>
          </a>
        </li>
        <li class="random-characters-item">
          <a href="#" class="random-item-link" onmouseover="changeImage('')">
            <h2 class="random-item-title">Cassie Lang</h2>
            <p class="random-item-text">
              As Scott Lang’s young daughter, Cassie is super proud of her dad’s
              heroics as Ant-Man.
            </p>
          </a>
        </li>
        <li class="random-characters-item">
          <a href="#" class="random-item-link" onmouseover="changeImage('')">
            <h2 class="random-item-title">Kang The Conqueror</h2>
            <p class="random-item-text">
              The character is most frequently depicted as an opponent of the
              Avengers and the Fantastic Four.
            </p>
          </a>
        </li>
        <li class="random-characters-item">
          <a href="#" class="random-item-link" onmouseover="changeImage('')">
            <h2 class="random-item-title">Hank Pym</h2>
            <p class="random-item-text">
              Hank Pym is a brilliant scientist who used his discovery of the
              shrinking Pym Particles, the suit that could survive the process,
              and insect communication waves, to turn himself into the original
              Ant-Man.
            </p>
          </a>
        </li> -->
      </ul>
    </div>
    <a href="../characters.html" class="random-characters-link">
      All Characters</a
    >
  </div>
</section>
