html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: calc(18 / 14);
    background-color: #0C0B0B;
    letter-spacing: 0.02em;
  }
  img{
    display: block;
  }
  :root {
      --color-blue: #34387F;
      --color-title-and-text: #FAFAFA;
      --color-characters-modal-window: #171717;
      --color-character-spider-man: #600404;
      --color-character-hulk: #5B7F3C;
      --color-character-black-panther: #34387F;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 375px;
  }
  
  @media screen and (min-width: 767.98px) {
    .container {
      padding: 0 32px;
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1439.98px) {
    .container {
      padding: 0 32px;
      max-width: 1440px;
    }
  }