html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: calc(18 / 14);
    background-color: #0C0B0B;
    letter-spacing: 0.02em;
  }
  img{
    display: block;
  }
  :root {
      --color-blue: #34387F;
      --color-title-and-text: #FAFAFA;
      --color-characters-modal-window: #171717;
      --color-character-spider-man: #600404;
      --color-character-hulk: #5B7F3C;
      --color-character-black-panther: #34387F;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 375px;
  }
  
  @media screen and (min-width: 767.98px) {
    .container {
      padding: 0 32px;
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1439.98px) {
    .container {
      padding: 0 32px;
      max-width: 1440px;
    }
  }

/* Scroll BAR */

::-webkit-scrollbar {
  /* width: 12px; */
  width: 9px;
  /* background-clip: content-box; */
}

::-webkit-scrollbar-track {
  /* background-color: #242121;  */
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  /* border: 3px solid #242121; */
  border-radius: 100px;
  /* cursor: pointer; */
  
  background-image: linear-gradient(180deg, var(--color-character-black-panther) 0%, var(--color-characters-modal-window) 90%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  
  /* transition: background-image 0.2s ease-in-out; */
}

/* ::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(180deg, var(--color-characters-modal-window) 0%, var(--color-character-black-panther) 90%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
} */
