.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
  gap: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  gap: 14px;
  /* margin-bottom: 40px; */
}

.social-list-icon-footer {
  fill: var(--color-title-and-text);
}
.img-footer {
  width: 98px;
  height: 15px;
}
.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid rgba(250, 250, 250, 0.15);
  transition: border-color 500ms ease;
}

.social-list-icon-footer {
  transition: fill 500ms ease;
}
.social-list-link-footer.footer-link-face:hover {
  border: 2px solid rgba(24, 119, 242, 0.4);
}
.social-list-link-footer.footer-link-inst:hover {
  border: 2px solid #bc1988ba;
}
.social-list-link-footer.footer-link-twit:hover {
  border: 2px solid rgba(29, 161, 242, 0.4);
}
.footer-icon-twit {
  width: 15px;
  height: 15px;
}
.social-list-link-footer:hover > .footer-icon-face {
  fill: #3b5998;
}
.social-list-link-footer:hover > .footer-icon-inst {
  fill: #bc1888;
}
.social-list-link-footer:hover > .footer-icon-twit {
  fill: #00acee;
}
.text-footer {
  font-weight: 400;

  color: var(--color-title-and-text);
  width: 90px;
  height: 18px;
  transition: width 700ms linear, color 700ms linear, font-weight 700ms linear,
    line-height 700ms linear;
}
.text-footer:hover,
.text-footer:focus {
  width: 130px;
  color: var(--color-blue);
  font-weight: 500px;
  line-height: 1.5;
}

.footer-bottom {
  background-color: var(--color-blue);
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s linear;
}
.footer-bottom-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: rgba(250, 250, 250, 0.4);
  transition: color 1s;
}
.footer-bottom-text:hover,
.footer-bottom-text:focus {
  color: #ffffff;
}

@media screen and (min-width: 767.98px) {
  .text-footer {
    font-size: 16px;
    line-height: 1.1;
  }
  .footer-top {
    flex-direction: row;
    padding: 64px 0;
    align-items: center;
  }
  .footer-logo {
    align-items: center;
    gap: 142px;
  }
  .img-footer {
    width: 202px;
    height: 31px;
  }
  .footer-bottom-text {
    font-size: 14px;
    line-height: 1.3px;
  }
  .footer-social-list {
    gap: 16px;
    margin-bottom: 0;
  }
  .social-list-link-footer {
    width: 40px;
    height: 40px;
  }
  .footer-bottom {
    height: 54px;
  }
}

@media screen and (min-width: 1439.98px) {
  .footer-logo {
    justify-content: space-between;
  }
}
