.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 2;
  transition: 0.6s background-color ease-in-out, 0.6s backdrop-filter ease-in-out;
  background-color: transparent;

}
.header.scroll{
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_search input {
  width: 108px;
  height: 27px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;
  color: var(--color-title-and-text);
  padding: 6px 18px;
  padding-left: 42px;
  font-size: 12px;
  line-height: calc(14/12);
}
.header_search{
  display: flex;
  position: relative;
  align-items: center;
}
.header_search input::placeholder {
  width: 48px;
  height: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14/12);
  color: var(--color-title-and-text);
  text-transform: uppercase;
  text-align: center;
  /* padding-left: 42px; */
}
.search-header-icon{
  position: absolute;
  left: 20px;
  width: 16px;
  height: 16px;
}

.header-logo-svg{
  width: 98px;
  height: 15px;
}

@media screen and (min-width:767.98px){
  .header_search input{
    font-size: 14px;
    line-height: calc(18/14);
    width: 130px;
    height: 41px;
    padding: 12px 24px;
    padding-left: 50px;
  }
  .header_search input::placeholder{
    font-size: 14px;
    line-height: calc(18/14);
    width: 56px;
    height: 18px;
  };

  .search-header-icon{
    height: 18px;
    width: 18px;
  }
  .header-logo-svg{
    width: 202px;
    height: 31px;
  }
}
.header_search input:hover,
.header_search input:focus,
.header_search input{
  outline: 1px solid var(--color-title-and-text);
}