.hero-charactares{
    margin-top: -75px;
}
.container-hero-characters{
    background-image: url(../img/mob/hero-mob.jpg);
    background-size: cover;
    background-position: center;   
    height: 509px;
    margin: 0 auto;
    padding-top: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sub-title-characters {
    font-size: 18px;
    line-height: 1.6;
    text-transform: uppercase;

    color: #ffffffb3;
    margin-bottom: 14px;
}
.main-title-characters {
    font-weight: 500;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 100%;
    margin-bottom: 16px;

    color: var(--color-title-and-text);
}
.description-title-characters{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: var(--color-title-and-text);
}

.home-button-character {
    background-color: transparent;
    border: 1px solid #FAFAFA80;
    color: var(--color-title-and-text);
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16/12);
    text-transform: uppercase;
    border-radius: 1000px;
    padding: 10px 20px;

    display: inline-block;
    margin-block: auto 20px;
    align-self: end;
}

.home-button-character:hover{
    background-color: var(--color-title-and-text);
    color: #750201;
}

@media screen and (min-width: 767.98px){
    .hero-charactares{
        margin-top: -89px;
    }
    .container-hero-characters{
        background-image: url(../img/tab/hero-tab.jpg);
        height: 780px;
        padding-top: 278px;
    }
    .sub-title-characters {
        margin-bottom: 27px;
    }
    .main-title-characters {
        font-size: 128px;
    }
    .description-title-characters{
        max-width: 469px;
        margin-left: 88px;
    }
    .home-button-character{
        padding: 12px 24px;
        font-size: 14px;
        margin-block: auto 32px;
    }
}
@media screen and (min-width: 1439.98px){
    .container-hero-characters{
        background-image: url(../img/deskt/hero-deskt.jpg);
        height: 880px;
    }
    .sub-title-characters {
        margin-bottom: 16px;
    }
    .main-title-characters {
        font-size: 150px;
    }
    .home-button-character{
        margin-block: auto 64px;
    }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container-hero-characters {
    background-image: url('../img/mob/hero-2x@mob.jpg');
  }
}

@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2),
screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 767.98px) and (min-resolution: 192dpi),
screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .container-hero-characters {
    background-image: url('../img/tab/hero-2x@tab.jpg');
  }
}

@media screen and (min-width: 1439.98px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1439.98px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1439.98px) and (min-resolution: 192dpi),
screen and (min-width: 1439.98px) and (min-resolution: 2dppx) {
  .container-hero-characters {
    background-image: url('../img/deskt/hero-2x@deskt.jpg');
  }
}