body {
  position: relative;
}

.backdrop-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.5);
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
}

.modal-characters-container {
  z-index: 12;
  max-width: 335px;
  background-color: #0c0b0b;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;
}

.modal-characters-close-btn {
  z-index: 13;
  position: absolute;
  top: 14px;
  right: 14px;
  fill: #fafafa;
  background-color: #0c0b0b;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
}

.modal-characters-main-image {
  width: 295px;
  height: 387px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.modal-characters-gallery-list {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.modal-characters-gallery-image {
  border-radius: 8px;
}

.modal-characters-info {
  background-color: #171717;
  padding: 32px 16px;
  border-radius: 8px;
  overflow: hidden;
}

.modal-characters-info-header-container {
  margin-bottom: 16px;
}

.modal-characters-info-character-header {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 4px;
  margin-top: 0;
}
.modal-characters-info-date {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(250, 250, 250, 0.5);
}
.modal-characters-info-descr {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #fafafa;
  margin-bottom: 32px;
}
.modal-characters-info-comics-image {
  min-width: 263px;
  min-height: 263px;
}
.modal-characters-info-comics-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 16px;
}
.modal-characters-info-comics-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal-characters-info-comics-button {
  padding: 0px;
  background-color: #171717;
  border: none;
  margin-bottom: 16px;
}
.modal-characters-info-comics-name {
  margin-bottom: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fafafa;
}
.modal-characters-info-comics-author {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(250, 250, 250, 0.5);
}

@media screen and (min-width: 767.98px) {
  .modal-characters-container {
    max-width: 600px;
  }
  .modal-characters-close-btn {
    top: 16px;
    right: 16px;
    border: none;
    width: 28px;
    height: 28px;
  }
  .modal-characters-close-btn-icon {
    width: 14px;
    height: 14px;
  }
  .modal-characters-gallery {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }
  .modal-characters-main-image {
    width: 332px;
    height: 445px;
    margin-bottom: 0px;
  }
  .modal-characters-gallery-list {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .modal-characters-info {
    max-width: 536px;
  }

  .modal-characters-info-header-container {
    display: flex;
    justify-content: space-between;
    margin-right: 9px;
    margin-bottom: 16px;
  }
  .modal-characters-info-character-header {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0px;
  }
  .modal-characters-info-descr {
    font-size: 16px;
    line-height: 1.12;
  }
  .modal-characters-info-comics-header {
    font-size: 24px;
    line-height: 1;
  }
  .modal-characters-info-comics-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 19px;
  }
  .modal-characters-info-comics-image {
    min-width: 155px;
    min-height: 200px;
  }
}

@media screen and (min-width: 1439.98px) {
  .modal-characters-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 64px 32px;
  }
  .modal-characters-gallery {
    display: block;
  }
  .modal-characters-main-image {
    max-width: 332px;
    max-height: 445px;
    margin-bottom: 8px;
  }
  .modal-characters-gallery-list {
    flex-direction: row;
  }
  .modal-characters-info {
    max-width: 588px;
    max-height: none;
  }
  .modal-characters-info-comics-list {
    gap: 16px;
    justify-content: flex-start;
  }
  .modal-characters-info-comics-image {
    min-width: 174px;
  }
  .modal-characters-info-descr {
    margin-bottom: 64px;
    display: flex;
  }
}
