@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* .modal-comics-container {
  z-index: 10;
  max-width: 335px;
  background-color: black;
  margin: 0 auto;
  position: relative;
  padding: 40px 20px;
} */

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

.comics-modal-window {
  max-width: 295px;
  background-color: #171717;
  border-radius: 8px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 14;
}

.modal-comics-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comics-modal-close-icon {
  fill: white;
}

@media screen and (min-width: 767.98px) {
  .comics-modal-window {
    max-width: 536px;
  }
}
@media screen and (min-width: 1439.98px) {
  .comics-modal-window {
    max-width: 588px;
  }
}

.modal-comics-general-info {
  background-color: #171717;
  border-radius: 8px;
}
/* @media screen and (min-width: 767.98px) {
  .comics-modal-window {
    max-width: 536px;
  }
}
@media screen and (min-width: 1439.98px) {
  .comics-modal-window {
    max-width: 588px;
  }
} */

h2 {
  /* margin-top: 32px; */
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  margin-bottom: 16px;
  margin-top: 32px;
}
@media screen and (min-width: 767.98px) {
  h2 {
    font-size: 24px;
    line-height: calc(24 / 24);
    letter-spacing: -2%;
  }
}
.title {
  margin-bottom: 4px;
}
h3 {
  font-weight: 400;
  color: rgba(250, 250, 250, 0.5);
  font-size: 14px;
  line-height: calc(18 / 14);
  margin-bottom: 16px;
}
@media screen and (min-width: 767.98px) {
  h3 {
    font-weight: 400;
    color: rgba(250, 250, 250, 0.5);
    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

.h3 {
  color: rgba(250, 250, 250, 0.5);
  font-size: 10px;
  line-height: calc(12 / 10);
}
ul {
  list-style: none;
}
.comics-modal-comics-description {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
}
@media screen and (min-width: 767.98px) {
  .comics-modal-comics-description {
    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

/* CHARACTERS */
.comics-modal-characters-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 767.98px) {
  .comics-modal-characters-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
  }
}
/* @media screen and (min-width: 1439.98px) {
  .comics-modal-characters-list {
  }
} */
.modal-window-character-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.modal-comics-character-pict {
  border-radius: 8px;
}
.modal-comics-character-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  justify-content: center;
  align-items: center;
}

/* GALLERY */

.modal-comics-gallery-item {
  border-radius: 8px;
  width: 80px;
  height: 80px;
}
.modal-comics-main-pict {
  border-radius: 8px;
}

@media screen and (min-width: 767.98px) {
  .modal-comics-main-pict {
    width: 332px;
  }
}

.modal-comics-gallery {
  margin-top: 8px;
  gap: 8px;
  display: flex;
  flex-direction: row;
}

/* GENERAL DESCRIPTION */
.modal-comics-filter-info {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 24px;
}
@media screen and (min-width: 767.98px) {
  .modal-comics-filter-info {
    gap: 32px;
  }
}
@media screen and (min-width: 1439.98px) {
  .modal-comics-filter-info {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 24px;
  }
}

.modal-comics-filter-item {
  gap: 24px;
  flex-direction: column;
}
.modal-comics-filter {
  flex-direction: row;
  font-size: 10px;
  font-weight: 400;
  line-height: calc(12 / 10);
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.5);
}
@media screen and (min-width: 767.98px) {
  .modal-comics-filter {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.modal-comics-filter-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #fafafa;
}
@media screen and (min-width: 767.98px) {
  .modal-comics-filter-descr {
    font-size: 16px;
    line-height: calc(18 / 16);
  }
}
@media screen and (min-width: 1439.98px) {
  .modal-comics-filter-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #fafafa;
  }
}

/* CREATORS */

.comics-modal-creators-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

@media screen and (min-width: 767.98px) {
  .comics-modal-creators-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
/* @media screen and (min-width: 1439.98px) {
  .comics-modal-creators-list {
  }
} */

.modal-comics-author-description {
  flex-direction: column;
}
.modal-comics-creators-li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.comics-modal-author-portrait {
  height: 60px;
  border-radius: 8px;
}

.modal-comics-author-role {
  font-size: 10px;
  font-weight: 400;
  line-height: calc(12 / 10);
  text-transform: capitalize;
  color: rgba(250, 250, 250, 0.5);
}
.modal-comics-author-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
}
