.searchandsort {
    color: rgba(250, 250, 250, 0.3);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

.searchandsort-input {
    color: rgba(250, 250, 250, 1);
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid rgba(52, 56, 127, 1);
    background-color: #0C0B0B;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 14px;
    display: block;
    margin-top: 4px;
    width: 335px;
}

.searchandsort-label {
    text-align: left;
    font-size: 12px;
    margin-top: 12px;
}

.searchandsort-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

#select {
    width: 169px;
}

#date {
    width: 158px;
}

.searchandsort-label.order{
    width: 169px;
    position: absolute;
    left: 5.5%;
    top: 100%;
}

.searchandsort-label.date {
    width: 158px;
    position: absolute;
    right: 5.5%;
    top: 100%;
}



@media screen and (min-width: 767.98px) and (max-width: 1199.97px) {
    .searchandsort {
        margin-top: 64px;
        margin-bottom: 52px;
    }

    .searchandsort-input {
        font-size: 16px;
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 16px;
        display: block;
        margin-top: 8px;
        width: 168px;
        align-items: center;
    }

    .searchandsort-label {
        font-size: 14px;
        display: block;
        text-align: left;
        margin-left: 8px;
    }

    .searchandsort-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
    }

    .searchandsort-label:not:first-child {
        margin-left: 0px;
    }

    .searchandsort-label.comics {
        order: 1;
        margin-left: 0;
    }

    .searchandsort-label.order {
        order: 2;
        position: static;
    }

    .searchandsort-label.name {
        order: 3;
    }

    .searchandsort-label.date {
        order: 4;
        position: static;
    }

}

@media screen and (min-width: 1199.98px) {
    .searchandsort {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .searchandsort-input {
        font-size: 16px;
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 16px;
        display: block;
        margin-top: 8px;
        width: 100%;
    }

    .searchandsort-label {
        font-size: 14px;
        display: block;
        text-align: left;
        margin-left: 16px;
    }

    .searchandsort-label:not:first-child {
        margin-left: 0px;
    }

    .searchandsort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .searchandsort-label.comics {
        order: 1;
        max-width: 268px;
        margin-left: 0;
    }

    .searchandsort-label.order {
        order: 2;
        width: 185px;
        position: static;
    }

    .searchandsort-label.name {
        order: 3;
        width: 190px;
    }

    .searchandsort-label.date {
        order: 4;
        width: 170px;
        position: static;
    }

}

/*------КЛАСИ ПАГІНАЦІЇ--НЕ АДАПТОВАНІ-----*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(23, 23, 23, 1);
    padding: 2px;
    max-width: 400px;
}
.pagination ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(23, 23, 23, 1);
    padding: 8px;
    border-radius: 50px;
    
}

.pagination ul button {
    outline: none;
    color: #fff;
    background: rgba(23, 23, 23, 1);
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul button.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 5px;
}

.pagination ul button.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul button.numb.last {
    margin: 0px 5px 0 3px;
}

.pagination ul button.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul button.btn {
    padding: 0 20px;
    border-radius: 5px;
}

.pagination button.active,
.pagination ul button.numb:hover,
.pagination ul button:first-child:hover,
.pagination ul button:last-child:hover {
    color: #fff;
    background: rgba(52, 56, 127, 1);
}

