.searchandsort {
    color: rgba(250, 250, 250, 0.3);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
   }
   
   .searchandsort-input {
    color: rgba(250, 250, 250, 1);
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid rgba(52, 56, 127, 1);
    background-color: #0C0B0B;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 14px;
    margin-top: 4px;
    max-width: 100%;
    width: 335px;
    position: relative;
   }
   
   
   .searchandsort-input:hover, 
   .searchandsort-input:focus {
    background-color: rgba(52, 56, 127, 1);
    transition: all 0.3s ease;
   }
   
   
   .searchandsort-label {
    text-align: left;
    font-size: 12px;
    max-width: 100%;
   }
   
   .searchandsort-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    row-gap: 12px;
    column-gap: 8px;
   }
   
   #select {
    width: 169px;
    appearance: none;
    height: 54px;
    max-width: 100%;
    padding-right: 48px;
   }
   .searchandsort-label.name{
    position: relative;
   }
   .searchandsort-label.comics{
    position: relative;
   }
   
   #date {
    width: 158px;
    height: 54px;
    max-width: 100%;
    appearance: none;
   }

   #comics {
    padding-right: 48px;
   }
   #name-input {
    padding-right: 48px;
   }

   .select-svg {
    position: absolute;
    left: 39%;
    top: 86%;
    z-index: 10;
    cursor: pointer;
   }

   .date-svg {
    position: absolute;
    left: 83.25%;
    top: 86%;
    z-index: 10;
    cursor: pointer;
   }
   .searchandsort-label.name{
    position: relative;
   }

   .searchandsort-label.comics{
    position: relative;
   }

   .searchandsort-label.order{
    display: inline-block;
    width: 169px;
    left: 5.5%;
    top: 100%;
    max-width: calc(50% - 4px);
   }
   
   .searchandsort-label.date {
    display: inline-block;
    width: 158px;
    right: 5.5%;
    top: 100%;
    max-width: calc(50% - 4px)
   }

   .search-svg-comics-button {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translateX(820%);
    display: flex;
    z-index: 3;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
   }
   .search-svg-name-button {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translateX(820%);
    display: flex;
    z-index: 3;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
   }

   .character-name {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--color-title-and-text);
    margin-top: 16px;
   }
   
   .character-image {
    margin-top: 40px;
   }
   .characters-gallery {
    margin-top: 120px;
   }
   .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 0px;
   
   }
   .pagination ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    margin: 0 auto;
   }

   
   .pagination ul button {
    outline: none;
    color: #fff;
    background: rgba(23, 23, 23, 1);
    border: 1px solid rgba(250, 250, 250, 0.3);
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    text-align: center;
    padding: 0;
   }
   
   .pagination ul button.numb {
    list-style: none;
    height: 32px;
    width: 32px;
    margin: 0 3px;
    border-radius: 4px;
   
   }
   
   .pagination ul button.numb.first {
    margin: 0px 3px 0 -5px;
   }
   
   .pagination ul button.numb.last {
    margin: 0px 5px 0 3px;
   }
   
   .pagination ul button.dots {
    font-size: 22px;
    cursor: default;
    border-radius: 4px;
    width: 32px;
    height: 32px;
   }
   
   .pagination ul button.btn {
    border-radius: 4px;
   }
   
   .pagination button.active,
   .pagination ul button.numb:hover,
   .pagination ul button.numb:focus,
   .pagination ul button:first-child:focus,
   .pagination ul button:last-child:focus
   {
    color: #fff;
    border: 2px solid rgba(52, 56, 127, 1);

    background: rgba(52, 56, 127, 1);
   }
   
   .btn.prev, .btn.next {
    display: block;
    width: 32px;
    height: 32px;
    background-color: inherit;
    border: 0px solid rgba(23, 23, 23, 1);
   }

   .try-looking {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
   }
   
   .invisible {
    display: none;
    }
   .character-image-button {
    border-width: 0px;
    padding: 0px;
    background-color: #000000;
    width: 335px;
    height: 445px;
   }
   
   
   
   @media screen and (min-width: 767.98px) and (max-width: 1439.97px) {
    .searchandsort {
    margin-top: 64px;
    margin-bottom: 52px;
    }
   
    .searchandsort-input {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    display: block;
    margin-top: 8px;
    width: 168px;
    max-width: 100%;
    align-items: center;
    }
   
    .searchandsort-label {
    font-size: 14px;
    display: block;
    text-align: left;
    width: 168px;
    max-width: 100%;
    }
   
    .searchandsort-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 8px;
    column-gap: 8px;
    }
   
    .searchandsort-label.comics {
    order: 1;
    position: relative;
    }
   
    .searchandsort-label.order {
    order: 2;
    position: static;
    }
   
    .searchandsort-label.name {
    order: 3;
    position: relative;
    }
   
    .searchandsort-label.date {
    order: 4;
    position: static;
    }

    .search-svg-comics-button {
        position: absolute;
        left: -4%;
        top: 55%;
    }
    .search-svg-name-button {
        position: absolute;
        left: -4%;
        top: 55%;
    }

    .search-svg-comics {
    z-index: 1;
    height: 16px;
    width: 16px;
    }
    
    .search-svg-name {
    z-index: 1;
    height: 16px;
    width: 16px;
    }

    #select {
        height: 61px;
        display: block;
    }
    #date {
        height: 61px;
        display: block;
    }
    .select-svg {
        position: absolute;
        left: 44.5%;
        top: 58%;
        z-index: 10;
        cursor: pointer;
       }
       .date-svg {
        position: absolute;
        left: 91%;
        top: 58%;
        z-index: 10;
        cursor: pointer;
       }

    .character-image {
    width: 336px;
    margin-top: 0px;
    object-fit: fill;
    }

    .character-name {
        font-size: 24px;
        margin-top: 14px;
        max-width: 336px;
       }
    .characters-gallery li {
        max-width: 336px;
    }
    .characters-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        margin: 0 auto;
        align-items: flex-start;
        padding: 0px;
        margin-top: 52px;
    }
    .pagination {
        margin-top: 64px;
    }
    .character-image-button {
        width: 336px;
        height: 450px;
       }
   }
   
   @media screen and (min-width: 1439.97px) {
    .searchandsort {
    margin-top: 64px;
    margin-bottom: 64px;
    }
   
    .searchandsort-input {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    display: block;
    margin-top: 8px;
    width: 100%;
    }
   
    .searchandsort-label {
    font-size: 14px;
    display: block;
    text-align: left;
    }
   
    .searchandsort-label:not:first-child {
    margin-left: 0px;
    }
   
    .searchandsort-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    row-gap: 16px;
    }
   
    .searchandsort-label.comics {
    order: 1;
    width: 268px;
    max-width: 100%;
    margin-left: 0;
    position: relative;
    }
   
    .searchandsort-label.order {
    order: 2;
    max-width: 100%;
    width: 185px;
    position: static;
    }
   
    .searchandsort-label.name {
    order: 3;
    width: 190px;
    max-width: 100%;
    position: relative;
    }
   
    .searchandsort-label.date {
    order: 4;
    width: 170px;
    max-width: 100%;
    position: relative;
    }

    .search-svg-comics-button {
        position: absolute;
        left: 34%;
        top: 55%;
    }
    .search-svg-name-button {
        position: absolute;
        left: 8%;
        top: 55%;
    }

    .search-svg-comics {
    z-index: 1;
    height: 16px;
    width: 16px;
    }
    
    .search-svg-name {
    z-index: 1;
    height: 16px;
    width: 16px;
    }

    #select {
        height: 61px;
        display: block;
    }
    #date {
        height: 61px;
        display: block;
    }
    .select-svg {
        position: absolute;
        left: 48.7%;
        top: 58%;
        z-index: 10;
        cursor: pointer;
       }
       .date-svg {
        position: absolute;
        left: 75%;
        top: 58%;
        z-index: 10;
        cursor: pointer;
       }




    .character-image {
        width: 332px;
        height: 445px;
        margin-top: 0px;
        object-fit: fill;
        }
        .character-name {
            font-size: 24px;
            margin-top: 16px;
            max-width: 332px;
           }
        .characters-gallery li {
            max-width: 332px;
        }
        .characters-gallery {
            display: flex;
            flex-wrap: wrap;
            column-gap: 16px;
            row-gap: 64px;
            margin: 0 auto;
            align-items:flex-start;
            padding: 0px;
            margin-top: 64px;
        }
        .pagination {
            margin-top: 64px;
        }
        .character-image-button {
            width: 332px;
            height: 445px;
           }
   } 
   